@model CineplexCustomerWebsite.Models.Cineplex

@{
    ViewBag.Title = "Cineplex";
}

<h2>Cineplex</h2>

<div class="row">
    <div class="panel panel-default col-lg-6" style="float: left;">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(model => model.Location)</h3>
        </div>

        <div class="panel-body">
            <ul style="list-style-type: none;">
                <li>
                    @Html.DisplayFor(model => model.LongDescription)
                </li>
                <li>
                    Events:
                </li>
                @forech (Event e in ViewBag.Events)
                {
                    <li>
                        @Html.ActionLink(e.EventTitle, "Home", new { EventID = Event.EventID })
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <img class="map" src="../../@Model.ImageUrl" />
    </div>

</div>