@model CineplexCustomerWebsite.Models.Enquiry

@{
    ViewBag.Title = "EnquirySubmission";
}

<h2>Enquiry Has Been Submitted!</h2>

<p>Thank you <em>@Model.Email</em>! Your enquiry <em>@Model.Message</em> has been documented and we look forward to 
    contacting you.</p>



