@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Home", "Index", "Home")<br/>
    @Html.ActionLink("Bookings", "GraphicalSeatBooking", "Seating", new { movieSessionId = 81 }, null)
    @*    @Html.ActionLink("Generate Data", "GenerateData", "Seating")*@
</div>

