@using CineplexCustomerWebsite.Models
@model IEnumerable<CineplexCustomerWebsite.Models.Seating>

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>

<div class="jumbotron">
    <table style="margin-left: auto; margin-right: auto">


        <img src="~/Content/Icons/Screen.png" width="400" height="10" style="display: block; margin-left: auto; margin-right: auto"/><br/>
        @for (int i = 0; i < ViewBag.maxSeatsPerRow+2; i++)
        {
            <col width="50">
        }

        @foreach (var row in ViewBag.Rows)
        {
            <tr>
                @{ var seatsInRow = Model.Where(seat => seat.SessionID == 1 && seat.Row == row);}
                @{ int columnsToSkip = (ViewBag.maxSeatsPerRow - seatsInRow.Count())/2;}
                @for (int i = 0; i < columnsToSkip; i++)
                {
                    <td></td>
                }
                @foreach (var seat in seatsInRow)
                {
                    <td>
                        @if ((bool) seat.IsTaken)
                        {
                            using (Html.BeginForm())
                            {
                                <input type="image" src="~/Content/Icons/seatTaken.png">
                            }
                        }
                        else if (((IEnumerable<int>) ViewBag.ChosenSeatIDs).Contains(seat.SeatingID))
                        {
                            using (Html.BeginForm("DeselectSeat", "Seating", seat))
                            {
                                <input type="image" src="~/Content/Icons/seatChosen.png">
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("SelectSeat", "Seating", seat))
                            {
                                <input type="image" src="~/Content/Icons/seatAvailable.png">
                            }
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
<br/>
<div class="row">
    <div class="col-sm-2">
        @using (Html.BeginForm("CancelBooking", "Seating"))
        {
            <input type="submit" class="btn btn-success" value="Confirm" />
        }
    </div>
    <div class="col-sm-2">
        @using (Html.BeginForm("ConfirmBooking", "Seating"))
        {
            <input type="submit" class="btn btn-danger" value="Cancel" />
        }
    </div>
    <div class="col-sm-8"></div>
</div>
