@model IEnumerable<CineplexCustomerWebsite.Models.SessionBooking>

@{
    ViewBag.Title = "ManageBookings";
}

<h2>Manage Bookings</h2>

<br />

@using (Html.BeginForm("MovieSessions", "Movies", FormMethod.Post))
{
    <p>
        Search By Email: @Html.TextBox("EmailSearch", "ManageBookings", new { type = "email", placeholder = "example01@email.com" })
        <input class="btn-default" type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieSession.SessionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieSession.CineplexMovie.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieSession.CineplexMovie.Cineplex.Location)
        </th>
        <th>
            
        </th>
        

        <th>

        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            

        </tr>
    }
</table>

